body {
  margin: 0;
  padding: 0;
  background: url("../img/background.JPG") no-repeat center center fixed; /*the apostrophes are needed for github*/
  /*background-repeat: no-repeat;
  background-attachment: fixed;*/ /*static background*/
  background-color: rgba(255, 255, 255, 0.3); /*blends the color and image*/
  background-blend-mode: lighten;

  /*center align background image for smartphones*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Here STARTS the main box */
.box{
  width: 450px;
  background: rgba(0, 0, 0, 0.70);
  padding: 40px;
  text-align: center;
  /*margin: auto;*/
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  color: white;
  font-family: 'Calibri', Sans-serif;
  border-radius: 0%;

  /*this code allows you to scroll within a set size div box*/
  /*height: 500px;
  max-height: 500px;
  overflow-y: scroll;
  -webkit-overflow-scrolling:touch; //mobile safari*/
}

/*this will make the scrollbar width 0 and thus make it disappear*/
/*::-webkit-scrollbar {
  width: 0px;
}*/

.box-img{ /*see HTML file for this reference */
  border-radius: 50%;
  width: 300px;
  height: 300px;
}

.box h1{
  font-size: 38px;
  letter-spacing: 2px;
  font-weight: 100;
}

.box h3{
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 100;
}

.box p.first-two-paragraphs{
  text-align: justify;
}

.box p.skill-list{
  /*made this paragraph its own class, might change its look later*/
  text-align: justify;
}

/* Style all font-awesome icons */
.box ul {
  padding: 0;
  margin: 0;
}

.box li {
  display: inline-block;
  margin: 20px;
  list-style: none;
}

.box li a{
  color: white;
  text-decoration: none;
  font-size: 40px;
  transition: all ease-in-out 250ms;
}
/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.55;
}

/* Here ENDS the main box */

/* Here STARTS the authorship box */

.authorship-box{
  width: 450px; /*should match other boxes if you want it exactly centered with them*/
  background: rgba(0, 0, 0, 0.70);
  padding: 40px;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
  /*margin: auto;*/
  margin-top: 5%; /* usually 5% */
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-family: 'Calibri', Sans-serif;
  border-radius: 0%;

}

/* Here ENDS the authorship box */
