body {
  margin: 0;
  padding: 0;
  background: url("../img/hubble-udf.jpg") no-repeat center center fixed; /*the apostrophes are needed for github*/
  background-color: rgba(255, 255, 255, 0.3); /*blends the color and image*/
  background-blend-mode: lighten; /*this & above line give opaque background look*/

  /*center align background image for smartphones*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; /*usually 'cover'*/
}
/* Here ENDS the BODY*/

/*---------------------------*/

/* Here STARTS the main box */
.box{
  max-width: 800px; /*This gives the ideal width on a big screen*/ /*originally width: 450px*/
  width: 100%; /*This, in conjunction with the above line resize the box when someone's screen is small*/
  /*width: 800px;*/
  background: rgba(0, 0, 0, 0.75);
  padding: 40px;
  text-align: center;
  /*margin: auto;*/
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  color: white;
  font-family: 'Calibri', Sans-serif;
  border-radius: 0%; /*looks a little odd when rounded*/

  /*below code allows you to scroll within a set size div box*/
  /*height: 500px;
  max-height: 500px;
  overflow-y: scroll;
  -webkit-overflow-scrolling:touch; //mobile safari*/
}

/*this will make the scrollbar width 0 and thus make it disappear*/
/*::-webkit-scrollbar {
  width: 0px;
}*/

.box-img{ /*see HTML file for this reference */
  border-radius: 50%;
  width: 300px;
  height: 300px;
  /*margin-right: 450px;*/
}

.box-img-2{ /*see HTML file for this reference */
  border-radius: 10%;
  width: 366px;
  height: 275px;
  /*margin-right: 450px;*/
}

.box h1{
  font-size: 35px;
  letter-spacing: 2px;
  font-weight: 100;
  /*text-align: ;*/
  /*margin-right: -300px;
  margin-top: -200px;*/
}

.box h3{
  font-size: 22px;
  letter-spacing: 3px;
  font-weight: 100;
  /*text-align: ;*/
  /*margin-right: -300px;*/
}

.box h3.degree-abbrev{
  font-size: 18px;
  letter-spacing: 3px;
  font-weight: 100;
  /*text-align: ;*/
  /*margin-right: -300px;*/
  margin-top: -15px;
}

.box p.work-blurb-paragraph{
  text-align: justify; /*the server engine likes when this is "left" but is not reflected in github host, first time i've seen this behaviour, very strange*/
  font-size: 18px;
}

.box p.skill-list{
  text-align: justify;
  font-size: 18px;
}

.box p.personal-paragraph{
  text-align: justify;
  font-size: 18px;
}

/* Style all font-awesome icons */
.box ul {
  padding: 0;
  margin: 0;
  /*margin-top: 70px;*/
}

.box li {
  display: inline-block;
  margin: 20px;
  list-style: none;
}

.box li a{
  color: white;
  text-decoration: none;
  font-size: 40px;
  transition: all ease-in-out 250ms;
}
/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.55;
}
/*end of icon styling*/

/*---------------------*/

/* START of LOGOS styling*/
.box1-nasa-logo{ /*see HTML file for this reference */
  /*border-radius: ;*/
padding-top: 20px;
  width: 120px;
  height: 100px;
}

.box1-jpl-logo{ /*see HTML file for this reference */
  /*border-radius: ;*/
  width: 150px;
  height: 70px;
  padding-bottom: 10px;
}

.box1-caltech-logo{ /*see HTML file for this reference */
  border-radius: ;
  width: 148px;
  height: 37px;
  padding-bottom: 35px;
  padding-left: 15px;
}

.box1-nasa-arc-logo{
  border-radius: ;
  width: 200px;
  height: 120px;
  padding-bottom: 10px;
  padding-left: 15px;
}

.box1-logos ul.box1-logos-ul {
  padding: 0;
  margin: 0;
}

.box1-logos li.box1-logos-li {
  display: inline-block;
  margin: 0px;
  list-style: none;
}

.box1-logos li img{
  text-decoration: none;
  /*font-size: 40px;*/
  transition: all ease-in-out 70ms;
}
/* Add a hover effect if you want */
.box1-nasa-logo:hover, .box1-jpl-logo:hover, .box1-caltech-logo:hover, .box1-nasa-arc-logo:hover {
  opacity: 0.55;
}
/*END of LOGOS styling*/
/* Here ENDS the main box */

/*-------------------------*/

/* Here STARTS the VIDEOS box AKA "box2" */

/*Consider just having buttons to different URL's.. easier*/

/* Here ENDS the VIDEOS box AKA "box2" */

/*-------------------------*/

/* Here STARTS the authorship box */
.authorship-box{
  max-width: 800px; /*This gives the ideal width on a big screen*/ /*originally width: 450px*/
  width: 100%; /*This, in conjunction with the above line resize the box when someone's screen is small*/
  /*width: 800px;*/
  background: rgba(0, 0, 0, 0.7);
  padding: 40px;
  padding-top: 1px;
  padding-bottom: 1px;
  text-align: center;
  /*margin: auto;*/
  margin-top: 5%; /* usually 5% */
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-family: 'Calibri', Sans-serif;
  border-radius: 0%;
}
/* Here ENDS the authorship box */
